.env
.sport_env
.vscode
/data
/models/*
runs
*.mp4
!src/
runs/
models/
homography_kornia/
*.pt
*.txt
*.jpg
*.pyc
*.partial
.wolf*
Deep-EIoU/Deep-EIoU/tools/utils/__pycache__/*
Deep-EIoU/Deep-EIoU/datasets/*
Deep-EIoU/Deep-EIoU/datasets/coco8/*

